.main_header {
    border: blue 1px solid;
    background-color: gray;
    font-size: 2REM;
    padding: 1.5REM;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

nav{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: center;

}



  .navItem {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

.search {
  margin: 0 2rem;
  align-self: center;
}

.results {
  font-size: 1rem;
  font-weight: 400;
}