<div class="main_header">
    <nav> 

        <div class="navItem">
            <a routerLink="">Wayfarer</a>  
        </div>
        
        <div class="navItem">
            <a routerLink="cities">Cities</a>  
        </div>

        <div class="navItem">
            <a routerLink="addPost">Contribute</a>  
        </div>

    </nav>


    <div class="search">
        
            <input [(ngModel)]="search" type="text" placeholder="Search"/>
            <input (click)="searchPosts()" type="submit" value="Search"/>  
        
    </div>

    <!-- <div class="results"  *ngIf="posts">
            <div class="result" *ngFor="let post of posts">
               <a routerLink="/posts/{{post.id}}">{{cities[post.city_id-1]}} ~ {{post.title}} by {{post.author}}</a>
            </div>
            <input  (click)="clearForm("searchForm")" type="submit" value="clear"  *ngIf="posts.length >= 1"/>
    </div> -->

</div>


