<div class="addPost">

<select [(ngModel)]="city" name="city">
    <option selected="selected" value="1">San Francisco</option>
    <option value="2">London</option>
    <option value="3">Gibraltar</option>
    <option value="4">Sydney</option>
    <option value="5">Seattle</option>
</select>


    <input [(ngModel)]="user" type="text" placeholder="Username" required/>
    <input [(ngModel)]="title" type="text" placeholder="Title" maxlength="200" required/>
    <textarea [(ngModel)]="post" rows="10" cols="30" required>                             
    </textarea>
    <input (click)="addPosts(city, user, title, post)" type="submit" value="Add Post"/>  
</div>