.content {
    height: 100%;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

h3 {
    font-size: 1REM;
    font-family: cursive;
}

div.article_container{
    display: flex;
    justify-content: space-between;

}

div.article {
    max-width: 25vw;
    font-size: 1REM;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: black 1px solid;
    margin: 1REM 2REM;
    padding: 1REM;
}
