.content {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

header {
    
}



section {
    border: black 1px solid;
}