<div class="cities_main_container">

    <div class="cities_list">

        <div class="city_item">
            <a href="#">
                San Francisco
            </a>
        </div>
        <div class="city_item">
            <a href="#">
                San Diego
            </a>
        </div>
        <div class="city_item">
            <a href="#">
                Los Angeles
            </a>
        </div>
        <div class="city_item">
            <a href="#">
                Fresno
            </a>
        </div>
        <div class="city_item">
            <a href="#">
                Bakersfield
            </a>
        </div>
    </div>

    <div class="city_info">

        -city info-

    </div>



</div>
